## Reading the data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("academy_awards.csv", encoding="ISO-8859-1")

## Exploring the data

In [3]:
df.columns.values

array(['Year', 'Category', 'Nominee', 'Additional Info', 'Won?',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10'], dtype=object)

In [4]:
df.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# how many rows?
df.shape

(10137, 11)

In [6]:
# how many missing values 
df.isnull().sum()

Year                   0
Category               0
Nominee                0
Additional Info     1126
Won?                   0
Unnamed: 5         10126
Unnamed: 6         10125
Unnamed: 7         10134
Unnamed: 8         10135
Unnamed: 9         10136
Unnamed: 10        10136
dtype: int64

In [7]:
# what's that 'unnamed' when it's not missing?
df[~df["Unnamed: 5"].isnull()].head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
132,2010 (83rd),Scientific and Technical (Technical Achievemen...,To ERIC TABELLION and ARNAULD LAMORLETTE for t...,was shared with the industry in their technic...,NO,*,NaN,NaN,NaN,NaN,NaN
510,2007 (80th),Scientific and Technical (Technical Achievemen...,To CHRISTIEN TINSLEY for the creation of the t...,bruises and birthmarks,as well as 3D prosthetic appliances ranging i...,resilience,flexibility and water resistance,while requiring no dangerous solvents. [Syste...,NaN,*,NaN
1269,2001 (74th),Scientific and Technical (Scientific and Engin...,"To JOHN M. EARGLE, D.B. DON"" KEELE and MARK E....",design and engineering of the modern constant...,direct radiator style motion picture loudspea...,"D.B. ""Don"" Keele and Mark E. Engebretson has ...",direct radiator bass style cinema loudspeaker...,NaN,*,NaN,NaN
1286,2001 (74th),Scientific and Technical (Technical Achievemen...,To DR. LANCE J. WILLIAMS for his pioneering in...,"Pyramidal Parametrics"" and ""View Interpolatio...",NO,*,NaN,NaN,NaN,NaN,NaN
1287,2001 (74th),Scientific and Technical (Technical Achievemen...,To DR. UWE SASSENBERG and ROLF SCHNEIDER for t...,an advanced and robust camera and object matc...,which significantly reduces the need for pain...,error-prone measurements on sets. [Digital Im...,NaN,*,NaN,NaN,NaN

In [8]:
df["Unnamed: 5"].value_counts()

*                                                                                                               7
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 discoverer of stars                                                                                            1
 resilience                                                                                                     1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
Name: Unnamed: 5, dtype: int64

In [9]:
df["Unnamed: 6"].value_counts()

*                                                                   9
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 sympathetic                                                        1
 flexibility and water resistance                                   1
Name: Unnamed: 6, dtype: int64

In [10]:
df["Unnamed: 10"].value_counts()

*    1
Name: Unnamed: 10, dtype: int64

In [11]:
df['Additional Info'].value_counts().head()

Metro-Goldwyn-Mayer      60
Walt Disney, Producer    57
Warner Bros.             42
John Williams            37
France                   35
Name: Additional Info, dtype: int64

In [12]:
df['Category'].value_counts().reset_index().head(10)

                                               index  Category
0                                            Writing       888
1                                    Music (Scoring)       748
2                                     Cinematography       572
3                                      Art Direction       552
4                                       Best Picture       485
5                                              Sound       460
6                           Short Film (Live Action)       434
7  Scientific and Technical (Technical Achievemen...       428
8                                       Music (Song)       413
9                            Actress -- Leading Role       411

## Cleaning data

In [13]:
df['Year'].head()

0    2010 (83rd)
1    2010 (83rd)
2    2010 (83rd)
3    2010 (83rd)
4    2010 (83rd)
Name: Year, dtype: object

In [14]:
# cleaning the Year
df['Year'] = df['Year'].str[0:4].astype("int64")
df['Year'].head()

0    2010
1    2010
2    2010
3    2010
4    2010
Name: Year, dtype: int64

## Subsetting data

In [15]:
later_than_2000 = df.loc[df['Year'] > 2000, :]
later_than_2000.tail()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
1289,2001,Scientific and Technical (Technical Achievemen...,To MIC RODGERS and MATT SWEENEY for the concep...,low bed picture car carrier and camera platfo...,economic and realistic filming of action sequ...,NaN,*,NaN,NaN,NaN,NaN
1290,2001,Scientific and Technical (Gordon E. Sawyer Award),Edmund M. Di Giulio,NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN
1291,2001,Scientific and Technical (Bonner Medal),To Ray Feeney in appreciation for outstanding ...,NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN
1292,2001,Scientific and Technical (Special Awards),To Rune Ericson for his pioneering development...,NaN,YES,NaN,NaN,NaN,NaN,NaN,NaN
1293,2001,Scientific and Technical (Special Awards),To the American Society of Cinematographers (A...,"first published by the ASC in 1930, the Ameri...",this premier reference manual has had a signi...,NaN,*,NaN,NaN,NaN,NaN

In [16]:
categories = ['Actor -- Leading Role',
              'Actor -- Supporting Role',
              'Actress -- Leading Role',
              'Actress -- Supporting Role']

nominations = later_than_2000[later_than_2000["Category"].isin(categories)].copy()
# 'copy' method used here to explicitely tell pandas that nominations is a copy of 
# later_than_2000 (and not a view). Otherwise later we'll have warnings on every
# modification of columns in nominations
nominations.head()

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
nominations['Won?'].value_counts()

NO     160
YES     40
Name: Won?, dtype: int64

In [18]:
mapping = {"YES" : 1, "NO" : 0}
nominations["Won?"] = nominations["Won?"].map(mapping)

In [19]:
nominations.rename(index=str, columns={"Won?": "Won"}, inplace = True)

In [20]:
nominations.columns.values

array(['Year', 'Category', 'Nominee', 'Additional Info', 'Won',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10'], dtype=object)

In [21]:
final_nominations = nominations.drop(list(nominations.filter(regex='Unnamed')), 
                                     axis = 1).copy()

In [22]:
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0

### Cleaning additional info

In [23]:
additional_info_one = final_nominations['Additional Info'].str.rstrip("'}")
additional_info_one.head()

0                        Biutiful {'Uxbal
1             True Grit {'Rooster Cogburn
2    The Social Network {'Mark Zuckerberg
3      The King's Speech {'King George VI
4                127 Hours {'Aron Ralston
Name: Additional Info, dtype: object

In [24]:
additional_info_two = additional_info_one.str.split(" {'")
additional_info_two.head()

0                        [Biutiful, Uxbal]
1             [True Grit, Rooster Cogburn]
2    [The Social Network, Mark Zuckerberg]
3      [The King's Speech, King George VI]
4                [127 Hours, Aron Ralston]
Name: Additional Info, dtype: object

In [25]:
movie_names = additional_info_two.str[0]
movie_names.head()

0              Biutiful
1             True Grit
2    The Social Network
3     The King's Speech
4             127 Hours
Name: Additional Info, dtype: object

In [26]:
characters = additional_info_two.str[1]
characters.head()

0              Uxbal
1    Rooster Cogburn
2    Mark Zuckerberg
3     King George VI
4       Aron Ralston
Name: Additional Info, dtype: object

In [27]:
final_nominations['Movie'] = movie_names
final_nominations['Character'] = characters
final_nominations.head()

,Year,Category,Nominee,Additional Info,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,127 Hours,Aron Ralston

In [28]:
final_nominations.drop('Additional Info', axis=1, inplace=True)
final_nominations.head()

,Year,Category,Nominee,Won,Movie,Character
0,2010,Actor -- Leading Role,Javier Bardem,0,Biutiful,Uxbal
1,2010,Actor -- Leading Role,Jeff Bridges,0,True Grit,Rooster Cogburn
2,2010,Actor -- Leading Role,Jesse Eisenberg,0,The Social Network,Mark Zuckerberg
3,2010,Actor -- Leading Role,Colin Firth,1,The King's Speech,King George VI
4,2010,Actor -- Leading Role,James Franco,0,127 Hours,Aron Ralston

## Writing data to SQL database

In [29]:
import sqlite3